@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Mulish', sans-serif; }

:root { --text-clr: #4f4f4f; } p { color: #6c757d; } 

a { text-decoration: none; color: var(--text-clr); }

a:hover { text-decoration: none; color: var(--text-clr); }

h2 { color: var(--text-clr); font-size: 1.5rem; } 

.main_cart { background: #fff; } .card { border: none; } 

.product_img img { min-width: 200px; max-height: 200px; }

.product_name { color: black; font-size: 1.4rem; text-transform: capitalize; font-weight: 500; } 

.card-title p { font-size: 0.9rem; font-weight: 500; } 

.remove-and-wish p { font-size: 0.8rem; margin-bottom: 0; } 

.price-money h3 { font-size: 1rem; font-weight: 600; }

.set_quantity { position: relative; }

.set_quantity::after { content: "(Cost-15 $ each)"; width: auto; height: auto; text-align: center; position: absolute; bottom: -20px; right: 1.5rem; font-size: 0.8rem; }

.page-link { line-height: 16px; width: 45px; font-size: 1rem; display: flex; justify-content: center; align-items: center; color: #495057; } 

.page-item input { line-height: 22px; padding: 3px; font-size: 15px; display: flex; justify-content: center; align-items: center; text-align: center; } 

.page-link:hover { text-decoration: none; color: #495057; outline: none !important; }

.page-link:focus { box-shadow: none; }

.price_indiv p { font-size: 1.1rem; }

.fa-heart:hover { color: red; }




footer.nb-footer {
background: #246ce0;
border-top: 4px solid #fdfdfd; }

footer.nb-footer .title{
    color: blanchedalmond;
    padding-bottom: 1em;
    margin-top:1em ;
}



footer.nb-footer .about p {
font-size: 13px;
color: rgb(255, 255, 255);
margin-top: 30px; }

footer.nb-footer .about .social-media {
margin-top: 15px; }


footer.nb-footer .footer-info-single ul li a {
display: block;
color: rgb(250, 242, 242);
padding: 2px 0; }

footer.nb-footer .footer-info-single ul li a:hover {
color: #ffffff; }

footer.nb-footer .footer-info-single p {
font-size: 13px;
line-height: 20px;
color: rgb(221, 218, 218); }

footer.nb-footer .copyright {
margin-top: 5px;

background: #030303;
padding: 7px 0;
color: rgb(243, 239, 239); }

footer.nb-footer .copyright p {
    display:block;
margin: 0;
padding: 0;
text-align: center;


 }






#flipkart-navbar {
    background-color: #2874f0;
    color: #FFFFFF;
}
.hello{
    display: flex;
    align-content: space-around;
}
.row1{
    padding-top: 10px;
    padding-right: 50px;
}

.row2 {
    padding-bottom: 20px;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
    width: 100rem;
    
}

.flipkart-navbar-button {
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 2px 2px 2px 2px;
    color: #f1eded;
    padding: 10px ;
   display: flex;
   width: 40px;
    height: 44px;
    cursor: pointer;
}

.cart-button {
    background-color: #2469d9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.cart-button:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    background-color: #fff;
}

.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: rgb(240, 232, 232);
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li{
    padding-top: 2px;
}

.largenav {
    display: none;
}

.smallnav{
    display: block;
    color: white;
    font: 1em sans-serif;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .largenav li:hover{
        
        background-color: #1b61d3;
        border-radius:4px ;
    
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}
.upper-links li:hover{
    background-color: blanchedalmond;}
/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
  
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0c2958;
    overflow-x: hidden;
    transition: 0.2s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: #fff5f5;
    
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;        
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}

